{{define "sidebar"}}
    <div class="sidebar-fixed position-fixed">

        <div class="list-group list-group-flush">
            <a href="/users" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Users</a>
            <a href="/users" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-hand-holding-usd mr-3"></i>Users Subscriptions</a>
            <a href="/sites" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-globe mr-3"></i>Sites</a>
            <a href="/sites" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-money-check-alt mr-3"></i>Sites Subscriptions</a>
            <a href="/subscriptions" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-map mr-3"></i>Subcriptions</a>
            <a href="/roles" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-money-bill-alt mr-3"></i>Roles</a>
            <a href="/security" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-shield-alt mr-3"></i>Security</a>
            <a href="/mail" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope-open mr-3"></i>Mail</a>
            <a href="/logs" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-wrench mr-3"></i>System logs</a>
        </div>

    </div>
{{end}}