{{define "sidebar"}}
    <div class="sidebar-fixed position-fixed">

        <div class="list-group list-group-flush">
            <a href="../users/users.page.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Users</a>
            <a href="../sites/sites.page.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-globe mr-3"></i>Sites</a>
            <a href="../subscriptions/subscriptions.page.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-map mr-3"></i>Subcriptions</a>
            <a href="../roles/roles.page.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-money-bill-alt mr-3"></i>Roles</a>
            <a href="../security/security.page.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-shield-alt mr-3"></i>Security</a>
            <a href="../mail/mail.page.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope-open mr-3"></i>Mail</a>
            <a href="../systemlogs/systemlogs.page.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-wrench mr-3"></i>System logs</a>
        </div>

    </div>
{{end}}