{{define "header"}}

    <div class="card mb-4 wow fadeIn">
        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="/">Home Page</a>
                <span>/</span>
                <span>Sites</span>
            </h4>

            <form class="d-flex justify-content-center">
                <!-- Default input -->
                <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                <button class="btn btn-primary btn-sm my-0 p" type="submit">
                    <i class="fas fa-search"></i>
                </button>

            </form>

        </div>
    </div>

{{end}}

{{define "contents"}}

    <div class="classic-tabs mx-2">

        <ul class="nav nav-tabs md-tabs" id="myClassicTabOrange" role="tablist">

            <li class="nav-item">
                <a class="nav-link  waves-light active show" id="profile-tab-classic-orange" data-toggle="tab"
                   href="#profile-classic-orange"
                   role="tab" aria-controls="profile-classic-orange" aria-selected="true">
                    <div
                            style="text-align: center;"><i
                                class="fas fa-file-invoice-dollar fa-2x pb-2"
                                aria-hidden="true"></i></div>
                    <br>Sites </a>

            </li>


        </ul>

        <div class="tab-content card" id="myClassicTabContentOrange">

            <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel"
                 aria-labelledby="profile-tab-classic-orange">
                <p></p>


                <!-- Table with panel -->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div
                            class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                        <div>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                <i class="fas fa-th-large mt-0"></i>
                            </button>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                <i class="fas fa-columns mt-0"></i>
                            </button>
                        </div>

                        <a href="" class="white-text mx-3">Sites</a>

                        <div>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                                    data-toggle="modal" data-target="#siteAddSiteModal">
                                <i class="fas fa-info-circle mt-0"> New Site</i>
                            </button>
                        </div>

                    </div>

                    <!--/Card image
                    SiteId         string `json:"siteId"`
	SiteName       string `json:"siteName"`
	SiteUrl        string `json:"siteUrl"`
	SiteAdminEmail string `json:"siteAdminEmail"`
                    -->

                    <div class="px-4">
                        <div class="table-wrapper table-bordered">
                            <!--Table-->
                            <table class="table table-hover mb-0">
                                <!--Table head-->
                                <thead>
                                <tr>
                                    <th class="th-lg">
                                        <a>Site ID
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <a href="">Site Name
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <a href="">Site Admin
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>


                                    <th class="th-lg">
                                        <a href="">Site URL
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <div style="text-align: center;"><a href="">Actions</a></div>
                                    </th>


                                </tr>
                                </thead>
                                <!--Table head Ends -->
                                <!--Table body Starts -->
                                <tbody>
                                {{ with .Sites }}
                                    {{range .}}

                                        <tr>
                                            <td>{{.SiteId}}</td>
                                            <td>{{.SiteName}}</td>
                                            <td>{{.SiteAdminEmail}}</td>
                                            <td>{{.SiteUrl}}</td>
                                            <td>
                                                <div style="text-align: center;">
                                                    <button type="button"
                                                            class="btn btn-outline-blue btn-rounded btn-sm px-2"
                                                            data-toggle="modal"
                                                            data-target="#editModal"
                                                            onclick="editSite({{.}})">
                                                        <i class="fas fa-pencil-alt mt-0"> Edit</i>
                                                    </button>

                                                    <button type="button"
                                                            class="btn btn-outline-blue btn-rounded btn-sm px-2"
                                                            data-toggle="modal"
                                                            data-target="#detailsModal"
                                                            onclick="siteDetails({{.}})">
                                                        <i class="fas fa-info-circle mt-0"> Details</i>
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                    {{end}}
                                {{end}}
                                </tbody>
                                <!--Table body-->
                            </table>
                            <!--Table-->
                        </div>
                    </div>
                </div>
                <!-- Table with panel -->
            </div>

        </div>
    </div>


{{end}}


{{define "modal"}}

    <div class="modal fade" id="siteAddSiteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Site </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- Extended material form grid -->
                    <form name="siteAddForm" method="POST" action="/sites/create" novalidate>
                        <div class="form-row">
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="id">Site ID</label>
                                <input type="text"
                                       class="form-control"
                                       name="siteId" id="siteId">
                            </div>
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="roleName">Site Name</label>
                                <input type="text"
                                       class="form-control"
                                       name="siteName"
                                       id="siteName">
                            </div>
                        </div>

                        <div class="form-row">
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="id">Site URL</label>
                                <input type="text"
                                       class="form-control"
                                       name="siteUrl" id="siteUrl">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="roleName">Site Admin Email </label>
                                <input type="email"
                                       class="form-control"
                                       name="siteAdminEmail"
                                       id="siteAdminEmail">
                            </div>
                        </div>

                        <!-- Grid row -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Details of The Site  </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Extended material form grid -->


                    <ul class="list-group">
                        <li class="list-group-item active">
                            <div class="md-v-line"></div>
                            <i class="fas fas fa-keyboard mr-4 pr-3"></i> Details
                        </li>
                        <li class="list-group-item">
                            <div class="md-v-line" id="details_siteId"></div>
                        </li>

                        <li class="list-group-item">
                            <div class="md-v-line" id="details_siteName"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="md-v-line" id="details_siteUrl"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="md-v-line" id="details_siteAdminEmail"></div>
                        </li>

                    </ul>


                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Site Edit </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Extended material form grid -->
                    <form name="siteEditForm" method="POST" action="/sites/update" novalidate>
                        <div class="form-row">
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="id">Site ID</label>
                                <input type="text" class="form-control" name="siteId" id="siteId"
                                       placeholder="Site ID">
                            </div>
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="roleName">Site Name</label>

                                <input type="text" class="form-control" name="siteName" id="siteName"
                                       placeholder="Site Name">
                            </div>
                        </div>

                        <div class="form-row">
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="id">Site URL</label>
                                <input type="text" class="form-control" name="siteUrl" id="siteUrl"
                                       placeholder="Site URL">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="roleName">Site Admin Email </label>
                                <input type="email" class="form-control" name="siteAdminEmail" id="siteAdminEmail"
                                       placeholder="Site Admin Email">
                            </div>
                        </div>

                        <!-- Grid row -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">

        function editSite(event) {
            var form = document.forms['siteEditForm'];
            form.elements["siteId"].value = event.siteId;
            form.elements["siteName"].value = event.siteName;
            form.elements["siteUrl"].value = event.siteUrl;
            form.elements["siteAdminEmail"].value = event.siteAdminEmail;
        }

        function siteDetails(event) {

            document.getElementById('details_siteId').innerHTML = "<i class=\"fas fa-info-circle mr-5\"> Site ID:</i>" + event.siteId;
            document.getElementById('details_siteUrl').innerHTML = "<i class=\"fas fa-info-circle mr-5\"> Site URL:</i>" + event.siteUrl;
            document.getElementById('details_siteName').innerHTML = "<i class=\"fas fa-info-circle mr-5\"> Site Name:</i>" + event.siteName;
            document.getElementById('details_siteAdminEmail').innerHTML = "<i class=\"fas fa-info-circle mr-5\"> Site Admin Email:</i>" + event.siteAdminEmail;
        }

    </script>


{{end}}









