{{define "header"}}

    <div class="card mb-4 wow fadeIn">
        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="/">Home Page</a>
                <span>/</span>
                <span>Users Roles</span>
            </h4>

            <form class="d-flex justify-content-center">
                <!-- Default input -->
                <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                <button class="btn btn-primary btn-sm my-0 p" type="submit">
                    <i class="fas fa-search"></i>
                </button>

            </form>

        </div>
    </div>

{{end}}

{{define "contents"}}

    <div class="classic-tabs mx-2">

        <ul class="nav nav-tabs md-tabs" id="myClassicTabOrange" role="tablist">

            <li class="nav-item">
                <a class="nav-link  waves-light active show" id="profile-tab-classic-orange" data-toggle="tab"
                   href="#profile-classic-orange"
                   role="tab" aria-controls="profile-classic-orange" aria-selected="true">
                    <div
                            style="text-align: center;"><i
                                class="fas fa-user-secret fa-2x pb-2"
                                aria-hidden="true"></i></div>
                    <br>Default Roles From Pool </a>

            </li>


            <li class="nav-item">
                <a class="nav-link waves-light" id="follow-tab-classic-orange" data-toggle="tab"
                   href="#follow-classic-orange"
                   role="tab" aria-controls="follow-classic-orange" aria-selected="false">
                    <div
                            style="text-align: center;"><i
                                class="fas fa-globe fa-2x pb-2"
                                aria-hidden="true"></i></div>
                    <br>Custom Site Roles</a>
            </li>

        </ul>

        <div class="tab-content card" id="myClassicTabContentOrange">
            <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel"
                 aria-labelledby="profile-tab-classic-orange">
                <p></p>


                <!-- Table with panel -->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div
                            class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                        <div>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                <i class="fas fa-th-large mt-0"></i>
                            </button>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                <i class="fas fa-columns mt-0"></i>
                            </button>
                        </div>

                        <a href="" class="white-text mx-3">Default Roles From Pool</a>

                        <div>

                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                                    data-toggle="modal" data-target="#rolespoolModal">
                                <i class="fas fa-info-circle mt-0"> Add New</i>
                            </button>
                        </div>
                    </div>

                    <!--/Card image-->

                    <div class="px-4">
                        <div class="table-wrapper table-bordered">
                            <!--Table-->
                            <table class="table table-hover mb-0">
                                <!--Table head-->
                                <thead>
                                <tr>
                                    <th class="th-lg">
                                        <a>Role ID
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <a href="">Role Name
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <a href="">Role Description
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <div style="text-align: center;"><a href="">Actions</a></div>
                                    </th>


                                </tr>
                                </thead>
                                <!--Table head Ends -->
                                <!--Table body Starts -->
                                <tbody>
                                {{ with .Rolepool }}
                                    {{range .}}

                                        <tr>
                                            <td>{{.Id}}</td>
                                            <td>{{.RoleName}}</td>
                                            <td>{{.Description}}</td>
                                            <td>
                                                <div style="text-align: center;">
                                                    <a href="/roles/edit/{{.Id}}"
                                                       data-toggle="tooltip" data-placement="top" title="Edit"
                                                       class="btn btn-outline-blue btn-rounded btn-sm px-2">
                                                        <i class="fas fa-pencil-alt mt-0"></i>
                                                    </a>

                                                    <a href="./roles/details/{{.Id}}"
                                                       data-toggle="tooltip" data-placement="top" title="Details"
                                                       class="btn btn-outline-blue btn-rounded btn-sm px-2">
                                                        <i class="fas fa-info-circle mt-0"></i>
                                                    </a>

                                                </div>
                                            </td>
                                        </tr>
                                    {{end}}
                                {{end}}
                                </tbody>
                                <!--Table body-->
                            </table>
                            <!--Table-->
                        </div>
                    </div>
                </div>
                <!-- Table with panel -->
            </div>


            <div class="tab-pane fade" id="follow-classic-orange" role="tabpanel"
                 aria-labelledby="follow-tab-classic-orange">
                <p></p>

                <!-- Table with panel -->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div
                            class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                        <div>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                <i class="fas fa-th-large mt-0"></i>
                            </button>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                <i class="fas fa-columns mt-0"></i>
                            </button>
                        </div>

                        <a href="" class="white-text mx-3">Custom Site Roles</a>


                    </div>

                    <!--/Card image-->

                    <div class="px-4">
                        <div class="table-wrapper table-bordered">
                            <!--Table-->
                            <table class="table table-hover mb-0">
                                <!--Table head-->
                                <thead>
                                <tr>
                                    <th class="th-lg">
                                        <a>Site Id
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <a>Role ID
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <a href="">Role Name
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <a href="">Role Description
                                            <i class="fas fa-sort ml-1"></i>
                                        </a>
                                    </th>

                                    <th class="th-lg">
                                        <div style="text-align: center;"><a href="">Actions</a></div>
                                    </th>
                                </tr>
                                </thead>
                                <!--Table head-->

                                <!--Table body-->
                                <tbody>


                                {{ with .Roles }}
                                    {{range .}}

                                        <tr>
                                            <td>{{.SiteId}}</td>
                                            <td>{{.Id}}</td>
                                            <td>{{.RoleName}}</td>
                                            <td>{{.Description}}</td>
                                            <td>
                                                <div style="text-align: center;">
                                                    <a href="/roles/roleedit/{{.Id}}"
                                                       data-toggle="tooltip" data-placement="top" title="Edit"
                                                       class="btn btn-outline-blue btn-rounded btn-sm px-2">
                                                        <i class="fas fa-pencil-alt mt-0"></i>
                                                    </a>

                                                    <a href="./roles/roledetails/{{.Id}}"
                                                       data-toggle="tooltip" data-placement="top" title="Details"
                                                       class="btn btn-outline-blue btn-rounded btn-sm px-2">
                                                        <i class="fas fa-info-circle mt-0"></i>
                                                    </a>

                                                </div>
                                            </td>
                                        </tr>
                                    {{end}}
                                {{end}}

                                </tbody>
                                <!--Table body-->
                            </table>
                            <!--Table-->
                        </div>
                    </div>
                </div>
                <!-- Table with panel -->
            </div>
        </div>
    </div>


{{end}}


{{define "modal"}}
    <div class="modal fade" id="rolespoolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Role For the Pool </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Extended material form grid -->
                    <form name="rolePoolForm" method="POST" action="/roles/pool/create" novalidate>
                        <!-- Grid row -->
                        <div class="form-row">
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="id">Role ID</label>
                                <input type="text" class="form-control" name="id" id="id" placeholder="ID">
                            </div>
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="roleName">Role Name </label>
                                <input type="text" class="form-control" name="roleName" id="roleName"
                                       placeholder="Role Name">
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Default input -->
                        <div class="form-group">
                            <label for="description">Role Description</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   placeholder="Description for the Role ">
                        </div>
                        <!-- Grid row -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Roles For the Site </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Extended material form grid -->
                    <form>
                        <!-- Grid row -->
                        <div class="form-row">
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Role ID</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <!-- Default input -->
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Role Name </label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Password">
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Default input -->
                        <div class="form-group">
                            <label for="inputAddress">Role Description</label>
                            <input type="text" class="form-control" id="inputAddress"
                                   placeholder="Description for the Role ">
                        </div>
                        <!-- Grid row -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

{{end}}







